extends layout

block content
  h1= title
  - let items = results
  p Search results echo
  p 
  div(class="container-fluid")
      div(class="row")
          - let destination1 = `dispatch(\"/echo/create\")`
          button.btn(class="btn-success ms-1", style="width: 150px" onclick= destination1) Create            
          - let echo = results
          each v, index in echo 
              - let destination = `dispatch(\"/echo/update?id=${v._id}\")`
              - let destination2 = `dispatch(\"/echo/delete?id=${v._id}\")`
              - let destination3 = `dispatch(\"/echo/detail?id=${v._id}\")`
              div(class="row-sm-2", class="m-1") Item #{v.name} #{v.model} #{v.frequency}
                  button.btn(class="btn-primary ms-1", onclick= destination) Update
                  button.btn(class="btn-info ms-1", onclick= destination3) Detail
                  button.btn(class="btn-danger ms-1", onclick= destination2) Delete

  script.
    function dispatch(path){
      window.location.href=path
    }
  script.                
        function buy(intemNo)
        {
              alert(`you purchased Item ${intemNo+1}`)
        }