extends layout

block content
  h1= title
  - let items = results
  p Search results echo
  p 
  div(class="container-fluid")
    div(class="row m-1")
      each item in items
         - let destination = `dispatch(\"/echo/update?id=${item._id}\")`
         div(class="row-sm-2", class="m-1") Item #{item.name}(#{item.model}) is #{item.frequency}
            button.btn( class="btn-primary ml-1", onclick= destination) Update

  script.
    function dispatch(path){
      window.location.href=path
    }
  script.                
        function buy(intemNo)
        {
              alert(`you purchased Item ${intemNo+1}`)
        }