extends layout
block content
 h1= title
 - let id = toShow.id
 - let name = toShow.name
 - let model = toShow.model
 - let frequency = toShow.frequency
 div.row
 div(class='echoAttr mr-3') echo id is: 
 div #{id} 
 div.row
 div(class='echoAttr mr-3') echo name is:
 div #{name}
 div.row
 div(class='echoAttr mr-3') echo model is:
 div #{model}
 div.row
 div(class='echoAttr mr-3') echo frequency is:
 div #{frequency}
 